<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.9" name="org.jboss.logmanager">
    <resources>
        <resource-root path="jboss-logmanager-2.1.17.Final.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="org.jboss.modules"/>
    </dependencies>
</module>
